body {
  font-size: 15px;
  font-family: sans-serif;
  color: black;
}
.header {
  display: block;
}
@media print {
  @page {
    size: 20.5cm 14cm;
    margin: 0.20cm 0.0cm 0.00cm 0.0cm;
  }
  body {
    font-size: 9.5pt;
    font-family:serif;
    color: black;
  }
  .header {
    display: none;
  }


}
