body {
    font-size: 14px;
    font-family: sans-serif;
    color: black;
}

.header {
    display: block;
}



@media print {
    @page {
        size: A4;
        margin: 1.00cm;
    }

    body {
        font-size: 9pt;
        font-family: serif;
        color: black;
    }

    .header {
        display: none;
    }


}