body {
  font-size: 12px;
  font: 10pt "Times New Roman", Times, serif;
  color: black;
}

.header {
  display: block;
}

@media print {
  @page {
    size: 20.5cm 14cm;
    margin: 0.20cm 0.0cm 0.00cm 0.0cm;
  }

  body {
    font-size: 12px;
    font: 10pt "Times New Roman", Times, serif;
    color: black;
  }

  .header {
    display: none;
  }


}